body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #424242;
}

button {
    font-weight: 600;
}

.slogan {
    font-size: 1.7em;
    margin-bottom: 0;
}

.twitter {
    font-size: 0.4em;
}

.App-logo {
    height: 14vmin;
    pointer-events: none;
    transform: scale(1);
    animation: pulse 3s infinite;
}

.App-header {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.examples {
    padding: 30px 100px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}

.examples-title {
    font-size: 1.3em;
    margin-bottom: 0;
    text-align: center;
}

.example {
    padding: 50px 50px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: 1px solid black;*/
    /*background: #f4f4f4;*/
    border-radius: 15px;
}

.example-disabled {
    font-size: 1.3em;
    color: #9e9e9e;
}

.demo-button {
    background: #a02480;
    padding: 0 1.3em;
    margin-top: 1em;
    border-radius: 60px;
    font-size: 0.7em;
    height: 35px;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: white;
}

.demo-button:active {
    color: white;
    background: #979799;
}

.auth-section {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
}

@keyframes pulse {
    0% {
        transform: scale(0.97);
        opacity: 0;
    }

    70% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0.97);
        opacity: 0;
    }
}
.page-wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-color: bisque;
    align-items: center;
    overflow-x: hidden;
}
.header{
    height: 80px;
    background: #a02480;
    width: 100%;
}

.header-container{
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 20px;
    width: 100%;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    height: 35px;
    font-weight: bold;
}

.token-balance{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    height: 35px;
    font-weight: bold;
}

.faucet-url{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    height: 35px;
    font-weight: bold;
}

.faucet-url:hover{
    color: wheat;
    background: rgb(83, 71, 56);
    cursor: pointer;
}

.principal-flex{
    display: flex;
}

.homepage-nav-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.homepage-nav{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.homepage-nav-element{

    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

.horizontal-line{
    width: 20%;
    background: burlywood;
    height: 2px;
}
.homepage-nav-element:hover{
    background-color: #c057a6;
    color: wheat;
    cursor: pointer;
}

.selected-nav{
    background-color: #a02480;
    color: wheat;
}

.connect-button{
    font-size: 14px !important;
}

.proposals-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 25px;
    row-gap: 20px;
    width: 90%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    float: left;
}

.proposal-card{
    height: 350px;
    border-radius: 10px;
    background: wheat;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 600;
}
.proposal-id-owner-flex{
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 20px;
}
.owner-flex{
    display: flex;
    width: 70px;
}
.owner{
    width: 50px;
}
.id{
    width: 70px;
}
.title{
    font-weight: bold;
}

.proposal-text-flex{
    display: flex;
    width: 95%;
}

.proposal-type{
    margin-left: 10px;
}

.proposal-text-area{
    width: 95%;
    height: 100px;
}

.proposal-text-header{
    align-self: start;
    margin-bottom: 5px;
}
.simulate-details-flex{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.simulate-button{
    align-self: start;
    background: #a02480;
    padding: 8px;
    border-radius: 5px;
    color: wheat;
    font-weight: bold;
}

.details{
    color: #7355ff;
}

.details:hover{
    text-decoration: underline;
    cursor: pointer;
}

.simulate-button:hover{
    background: #791d62;
    cursor: pointer;
}

.status-flex{
    width: 95%;
    display: flex;
}

.proposal-status{
    margin-left: 5px;
}

.Active{
    color: rgb(64, 181, 220);
    font-weight: bold;
}
.Accepted{
    color: rgb(37, 192, 37);
    font-weight: bold;

}
.Rejected{
    color: rgb(176, 34, 84);
    font-weight: bold;

}



.voting-bar-flex{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.voting-bar{
    display: flex;
    width: 100%;
    height: 20px;
    border-radius: 5px;
}

.accepted-bar{
    background: rgb(59, 187, 59);
}
.rejected-bar{
    background: #d45431;
}

.yes-no{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttons-flex{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept-button{
    margin-right: 10px;
    margin-left: 10px;
    background: rgb(59, 187, 59);
    padding: 10px;
    border-radius: 5px;
}

.reject-button{
    margin-right: 10px;
    margin-left: 10px;
    background: rgb(235 151 168);
    padding: 10px;
    border-radius: 5px;
}

.accept-button:hover{
    cursor: pointer;
    background: rgb(44, 167, 44);
    color: wheat;
}

.reject-button:hover{
    background: rgb(193, 105, 123);
    color: wheat;
    cursor: pointer;
}

.already-voted{
    background: rgb(73, 217, 222);
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
}

.create-neuron-proposal-flex{
    display: flex;
    margin-right: 150px;
}
.create-neuron{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    height: 35px;
    font-weight: bold;
}

.new-proposal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bisque;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    height: 35px;
    font-weight: bold;
}

.create-neuron:hover{
    color: wheat;
    background: rgb(83, 71, 56);
    cursor: pointer;
}

.new-proposal:hover {
    color: wheat;
    background: rgb(83, 71, 56);
    cursor: pointer;
}
.neuron-flex{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.dates-flex{
    font-size: 12px;
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.modal-wrapper{
    height: 100%;
    position: fixed;
    width: 100%;
    background-color: rgb(41 80 98 / 50%);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-container{
    width: 50%;
    height: 65%;
    background: bisque;
    border-radius: 20px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.cancel-button{
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #a02480;
    border-radius: 5px;
    color: wheat;
    padding: 10px;
    font-weight: bold;
}
.cancel-button:hover{
    background-color: #87226e;
    cursor: pointer;
}

.create-neuron-header{
    font-size: 18px;
    font-weight: bold;
    color: #a02480;
}

.user-balance-flex{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 4.2%;
}

.principal-id{
    border-radius: 5px;
    border-style: solid;
    border-color: #a02480;
    padding: 5px;
    display: flex;
}

.balance-text{
    margin-top: 10px;
    border-color: #a02480;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
}

.set-dissolve-delay-flex{
    display: flex;
    flex-direction: column;
    border-color: #a02480;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    width: 90%;
    align-items: center;
    height: 100px;
}

.headers-flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dissolve-header{
    color: #a02480;
    width: 70px;
    font-weight: bold;
}

.values-flex{
    width:100%;
    display: flex;
    justify-content: space-between;
}

.proposal-values-flex{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.proposal-headers-flex{
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.dissolve-input{
    width: 70px;
}

.lock-tokens-flex{
    display: flex;
    flex-direction: column;
    border-color: #a02480;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.create-neuron-button{
    background-color: #a02480;
    border-radius: 5px;
    color: wheat;
    padding: 15px;
    font-weight: bold;
}

.create-neuron-button:hover{
    background-color: #87226e;
    cursor: pointer;
}

.topic-select-flex{
    display: flex;
    width: 90%;
    height: 50px;
    align-items: center;
}
.topic{
    font-size: 13px;
    font-weight: bold;
    color: #a02480;
    margin-right: 5px;
}

.title-flex{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100px;
    justify-content: space-between;
    border-color: #a02480;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;

}

.text-area{
    height: 80%;
}

.code-input-flex{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50%;
    justify-content: space-between;
    border-color: #a02480;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
}
.code-area{
    height: 100%;
}

.proposal-details-wrapper{
    width: 95%;
    display: flex;
    margin-top: 20px;
    color: #a02480;
    font-weight: bold;
}

.proposal-details-flex{
    height: 60vh;
    width: 100%;
    background: wheat;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.vote-voters-flex{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.vote-flex{
    height: 100%;
    background: wheat;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.voters-flex{
    height: 100%;
    background: wheat;
    border-radius: 25px;
    /* padding: 25px; */
    margin: 10px;
}

.proposal-title{
    color: #a02480;
    font-weight: bold;
    font-size: 20px;
}

.proposal-id{
    align-self: flex-start;
    margin-left: 2.5%;

}

.status-neuron-flex{
    display: flex;
    width: 95%;
}

.proposal-code-flex{
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.text-areas-wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simulate-code{
    height: 100%;
    width: 90%;
}

.arrow{
    width: 80px;
    height: 80px;
    margin: 10px;
}

.topic-simulate-flex{
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    width: 50%;
    margin: 10px;
}

.change-parameters-flex{
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    margin-top: 100px;
}

.quadratic-neuron-vote-flex{
    display: flex;
    width: 95%;
    justify-content: space-around;
}

.vote-buttons-flex{
    margin: 20px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.yes-button{
    text-align: center;
    color: wheat;
    /* padding: 10px; */
    background: #35ad38;
    padding: 10px;
    width: 60px;
}

.no-button{
    text-align: center;
    width: 60px;
    color: wheat;
    padding: 10px;
    background: indianred;
}

.yes-button:hover{
    cursor: pointer;
    background: #27a62c;
}

.no-button:hover{
    cursor: pointer;
    background: rgb(187, 68, 68);
}

.voted-neurons-flex{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 95%;
    height: 80%;
    overflow-y: auto;
    float: left;
}

.neuron-list-item{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 10px;
}

.neuron-list-yes{
    color: #19bb1f;
    font-weight: bold;
    font-size: 20px;
}
.neuron-list-no{
    color: #e514b4;
    font-weight: bold;
    font-size: 20px;
}

.chat-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.submit-post-flex{
    font-size: 12px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.submit-post-button{
    background-color: #a02480;
    border-radius: 5px;
    color: wheat;
    padding: 5px;
    font-weight: bold;
}

.submit-post-button:hover{
        background-color: #87226e;
        cursor: pointer;

}

.post-wrapper{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100px;
    /* justify-content: space-between; */
    border-color: #a02480;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
    height: 150px;
    color: #a02480;
    font-weight: bold;
    font-size: 12px;
}

.read-post{
    background: beige;
    font-weight: bold;
    height: 100%;
}

.bottom-fields{
    display: flex;
    width: 100%;
}

.post-vote-flex{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.neuron-details-wrapper{
    width: 95%;
    display: flex;
    height: 600px;
    margin-top: 20px;
    color: #a02480;
    font-weight: bold;
}

.neuron-details-flex{
    width: 100%;
    background: wheat;
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    height: 40px;
    align-self: center;
}

.logo:hover{
    cursor: pointer;
}

.checkbox-flex{
    display: flex;
    /* width: 90%; */
    color: #a02480;
    font-weight: bold;
    width: 100px;
    justify-content: space-between;
    margin-left: 5%;
    align-self: start;
}

.astrox-styles{
    display: none !important;
}
.infinity-styles{
    display: none !important;
}
.ii-styles{
    display: none !important;
}
.nfid-styles{
    display: none !important;
}
.stoic-styles{
    display: none !important;
}

.fidget-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}